* {
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: Tahoma, Arial;
}

nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    color: #4d5791;
}

main {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}
/*
.center {
    text-align: center;
}*/

div.scrolling-wrapper {
    width: 100%; /* Set the width as needed */
    white-space: nowrap; /* Prevent cards from wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex; /* Display cards in a row */
}

div.card {
    width: 200px; /* Set the width of each card */
    height: 600px; /* Set the height of each card */
    margin-right: 10px; /* Add spacing between cards */
    background-color: #c8b8e7; /* Card background color */
    border: 1px solid #ccc; /* Card border */
    border-radius: 5px; /* Card border radius */
    display: inline-block; /* Display cards inline */
    text-align: center; /* Center card content */
    line-height: 300px; /* Center vertically */
}

div.card h1{
    font-size: 18px; /* Customize heading font size */
    margin: 10px 0;
}

div.card P{
    font-size: 14px; /* Customize heading font size */
    margin: 10px 0;
}